.container {
  display: flex;
}

.right {
  padding: 2rem;
  border-left: solid 1px #ddd;
}

.preview {
  width: 128px;
  height: 128px;
  margin-bottom: 2rem;
}

.selected {
  border: 4px solid black;
}

.image-list {
  display: flex;
  flex-direction: column;

  .image {
    width: 32px;
    height: 32px;
    padding: 0.5rem;
    border: none;

    &:hover {
      background-color: #ddd;
    }
    &.selected {
      background-color: black;
    }
  }
}