h1 {
  font-size: 1.6rem;
}

/* React app is injected into this container (I think) */
#root {
  height: 100%;
}

/* container added for the css variable injection */
#root > div {
  height: 100%; 
}

/* react-hotkeys adds this container, doesn't have any className to grab onto */
div[tabindex="-1"] {
  height: 100%;
  display:flex;
}
div[tabindex="-1"]:focus {
  outline: 0;
}

.left, .right {
  display: flex;
  flex-direction: column;
}

.left {
  flex-grow: 1;
  background-color: var(--dark-color);
  overflow-x: hidden;

  // gives some fake padding around the custom scroll bar
  border: 1px solid var(--dark-color);  

  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

}

@media only screen and (max-width: 900px) {  
  /* react-hotkeys container */
  div[tabindex="-1"] {
    /* The default 100% height was killing the layout */
    height: auto;
    // Was some white coming through in the mobile layout
    background-color: var(--primary-color);
  }
}

header {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-color);

  button {
    margin-right: 1rem;
  }
  
  button:last-child {
    margin-right: 0;
  }
}

.left header {
  justify-content: space-between;
}

h1.logo {
  flex-grow: 1;
  margin: 0;
  margin-top: -5px;
  line-height: 1.3rem;
}

.code, .game-container {
  display: flex;
  flex-direction: column;
}

.code {
  .rule:hover {
    background-color: var(--hover-color);
  }
}

.error {
  color: red;
  padding: 2rem;
}

.code {
  background-color: var(--dark-color);
  font-size: 1.0rem;
  font-family: 'Fira Code';
  padding: 1rem 2rem;
  color: var(--primary-color);
}

.code-sprite {
  transform: scale(0.6);
  margin-left: .4rem;
  margin-right: .2rem;
}

.game-container {
  padding: 1rem;
  padding-top: 0;
  flex-direction: column;
}
