h1 {
  font-size: 1.6rem;
}

/* React app is injected into this container (I think) */
#root {
  height: 100%;
}

/* container added for the css variable injection */
#root > div {
  height: 100%; 
}

/* react-hotkeys adds this container, doesn't have any className to grab onto */
div[tabindex="-1"] {
  height: 100%;
  display:flex;
}
div[tabindex="-1"]:focus {
  outline: 0;
}

.main {
  display: flex;
  height: 100%;
  background-color: var(--primary-color);
}

.left, .right {
  display: flex;
  flex-direction: column;
}

.left {
  flex-grow: 1;
  background-color: var(--dark-color);
  overflow-x: hidden;

  // gives some fake padding around the custom scroll bar
  border: 1px solid var(--dark-color);  

  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

}

@media only screen and (max-width: 900px) {
  .main {
    flex-direction: column-reverse;
  }
  
  /* react-hotkeys container */
  div[tabindex="-1"] {
    /* The default 100% height was killing the layout */
    height: auto;
    // Was some white coming through in the mobile layout
    background-color: var(--primary-color);
  }
}

header {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-color);
}

.left header {
  justify-content: space-between;
}

h1.logo {
  flex-grow: 1;
  margin: 0;
  margin-top: -5px;
  line-height: 1.3rem;
}

button {
  border: none;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8rem;
  min-width: 6rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--dark-color);
  color: var(--primary-color);

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: 0.8;
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.2);
    easing: 'ease-out'
  }
  30% {
    transform: scale(0.9);
    easing: 'ease-in-out'
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes grow {
  0% {
    transform: scale(1.0);
    easing: 'ease-out'
  }
  30% {
    transform: scale(1.3);
    easing: 'ease-in-out'
  }
  100% {
    transform: scale(1.2);
  }
}

button.icon {
  min-width: auto;
  padding: 0;
  background-color: transparent;

  animation-name: shrink;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  &:hover {
    animation-name: grow;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
}

button:last-child {
  margin-right: 0;
}

button.secondary {
  background-color: transparent;
  border: solid 2px var(--dark-color);
  color: var(--dark-color);
}

button.inverted {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

button.collapsible {
  text-align: left;
  opacity: 0.33;
  padding-left: 1rem;
}

.code, .game-container {
  display: flex;
  flex-direction: column;
}

.code {
  .rule:hover {
    background-color: var(--hover-color);
  }
}

.stage {
  background-color: var(--dark-color);
  overflow: hidden;
}

.error {
  color: red;
  padding: 2rem;
}

.code {
  background-color: var(--dark-color);
  font-size: 1.0rem;
  font-family: 'Fira Code';
  padding: 1rem 2rem;
  color: var(--primary-color);
}

.code-sprite {
  width: 16px;
  height: 16px;
  margin-left: .4rem;
  margin-right: .2rem;
}

.tooltip-content .stage {
  display: flex;

  border: 1px solid #000000
}

.game-container {
  padding: 1rem;
  padding-top: 0;
  flex-direction: column;
}

select {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: var(--dark-color);
  height: 1.6rem;
  width: 10rem;


  svg {
    color: var(--primary-color) !important;
  }
}

.blanket {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--dark-color);
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 80%;
  color: var(--dark-color);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 2rem;
  top: 10%;
  position: absolute;
  margin-bottom: 10%;

  h2 {
    margin-top: 1.5rem;
    line-height: 2rem;
  }

  .columns {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .example {
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color: var(--dark-color);
    border-radius: 0.5rem;
  }

  textarea {
    background-color: transparent;
    color: var(--primary-color);
    padding: 0rem;
    border: none;
    overflow: hidden;
    resize: none;
    outline: none;
    line-height: 1rem;
    font-family: 'Fira Code';
    font-size: 1rem;
    width: 100%;
    padding: 0;
  }
}
